.note {
  height: 12vh;
  padding-top: 20px;
}

.deleteBtn {
  position: absolute;
  top: 0.2vh;
  right: 0.2vh;
  background: transparent;
  background-color: transparent;
  border: medium none;
}

.editBtn {
  position: absolute;
  top: 0.2vh;
  left: 0.2vh;
  background: transparent;
  background-color: transparent;
  border: medium none;
}
