.notebook {
    text-align: center;
    text-decoration: none;
  }
  
  .deleteBtn {
    position: absolute;
    top: 0.2vh;
    right: 0.2vh;
    background: transparent;
    background-color: transparent;
    border: medium none;
  }
  
  .editBtn {
    position: absolute;
    top: 0.2vh;
    right: 3.2vh;
    background: transparent;
    background-color: transparent;
    border: medium none;
  }
  