// AddNotePage.module.scss

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; // Цвет фона
    padding: 20px;
    border-radius: 10px; // Закругленные углы
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Тень для эффекта глубины
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; // Цвет границы
    border-radius: 5px; // Закругленные углы
    font-size: 16px;
    transition: border 0.3s ease;
  
    &:focus {
      border-color: #007bff; // Цвет границы при фокусе
      outline: none; // Убираем стандартный контур
    }
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff; // Цвет кнопки
    color: white; // Цвет текста
    border: none;
    border-radius: 5px; // Закругленные углы
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3; // Цвет кнопки при наведении
    }
  }
  
  h4 {
    margin: 10px 0; // Отступы для заголовков
  }
  